// Primary Colors
$mySoftCyan: hsl(174, 77%, 80%); //full slider bar
$myStrongCyan: hsl(174, 86%, 45%); // slider background
$myLightGrayishRed: hsl(14, 92%, 95%); // discount background
$myLightRed: hsl(15, 100%, 70%); // discount text
$myPaleBlue: hsl(226, 100%, 87%); // CTA text

// Neutral Colors
$myWhite: hsl(0, 0%, 100%); // Pricing Component BG
$myVeryPaleBlue: hsl(230, 100%, 99%); // Main BG
$myLightGrayishBlueOne: hsl(224, 65%, 95%); // Empty Slider bar
$myLightGrayishBlueTwo: hsl(223, 50%, 87%); // Toggle Background
$myGrayishBlue: hsl(225, 20%, 60%); // Text
$myDarkDesaturatedBlue: hsl(227, 35%, 25%); // Text & CTA Background

//Medias
$smallScreen: 970px;
$extraSmallScreen: 400px;